<%- include("partials/header") %>
        <li class="nav-item ms-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link active" aria-current="page" href="/playlist">Playlists</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="playlists-container">
    <h2 style="color: #fff">Your Playlists</h2>
    <br />
    <div class="playlist-items row">
      <% try { %>
        <% for(var i = 0; i < items.length; i++) { %>
          <a href="/playlist/<%=items[i].id%>">
            <div class="playlist-item">
              <img
                src=<%= items[i].images[0].url %>
                alt="playlists"
                class="playlist-item-image"
              />
              <div class="playlist-item-body">
                <h1 class="playlist-item-title"><%= items[i].name %></h1>
                <p class="playlist-item-subtitle"><%= items[i].tracks.total %> songs</p>
              </div>
            </div>  
          </a>

      <% } %>   
      <% } catch (error) { %>
        <% console.log(error); %>
      <% } %>
      
    </div>
</div>

<%- include("partials/footer") %>
