<%- include("partials/header") %>

<section class="profile">
  <div class="container mt-5 profile-container">
    <table cellspacing="30">
      <tr>
        <td style="padding: 30px; margin-right: 60px">
          <img
          class="rounded-circle"
            src=<%= profilePicture %>
            alt="Profile Picture"
            width="250"
            height="250"
          />
        </td>
        <td style="padding: 30px">
          <h1 style="color: #fff"><%= username %></h1>
          <em>
            <p style="color: #e0e0e0"><%= email %></p>
            <p style="color: #e0e0e0"><%= followers %> followers</p>
          </em>
        </td>
      </tr>
    </table>
  </div>
  <div class="logout-container">
    <button onclick="logout()" class="btn btn-primary btn-lg logout-button">LOG OUT</button>
  </div>
  
  <script>
    function logout() {
    const url = "https://www.spotify.com/logout/";
    const spotifyLogoutWindow = window.open(
      url,
      "Spotify Logout",
      "width=700,height=500,top=40,left=40"
    );
    setTimeout(() => {
      spotifyLogoutWindow.close();
      window.location.href = "/login";
    }, 2000);
  }
  </script>
</section>

<section class="followed-artists">
  <h2>Followed Artists, Total <%=followed_count%></h2>
  <div class="home-page-items">
  <% followed_artists.forEach( function(followed_artist) { %>
    <div class="home-page-item">
        <img src="<%= followed_artist.images[0].url %>" alt="Followed Artist Image">
        <p><%= followed_artist.name %></p>
        <p><%= followed_artist.genres %></p>
        <form action="/playProfile" method="post">
            <input type="hidden" name="currentlyPlayingId" value="<%= followed_artist.id %>">
            <input type="hidden" name="album_uri" value="<%= followed_artist.uri %>">
            <button class="home-page-item-button" type="submit">
                <div>
                  <% if (is_playing && currently_playing_id === followed_artist.id) { %>
                    <i class="fa-solid fa-pause"></i>
                  <% } else { %>
                    <i class="fa-solid fa-play"></i>
                  <% } %>
                </div>
              </button>
        </form>
    </div>
<% }); %>
</div>

</section>

<section class="saved-albums">
  <h2>Saved Albums, Total <%=saved_album_count%></h2>
  <div class="home-page-items">
  <% saved_albums.forEach( function(saved_album) { %>
    <div class="home-page-item">
      <img src="<%= saved_album.album.images[0].url %>" alt="Saved Album Image">
        <p><%= saved_album.album.name %></p>
        <p><%= saved_album.album.genres %></p>
        <form action="/playProfile" method="post">
            <input type="hidden" name="currentlyPlayingId" value="<%= saved_album.album.id %>">
            <input type="hidden" name="album_uri" value="<%= saved_album.album.uri %>">
            <button class="home-page-item-button" type="submit">
                <div>
                  <% if (is_playing && currently_playing_id === saved_album.album.id) { %>
                    <i class="fa-solid fa-pause"></i>
                  <% } else { %>
                    <i class="fa-solid fa-play"></i>
                  <% } %>
                </div>
              </button>
        </form>
    </div>
<% }); %>
</div>
</section>

<section class="saved-songs">
  <h2>Saved Songs, Total <%=saved_song_count%></h2>
  <div class="home-page-items">
  <% saved_songs.forEach( function(saved_song) { %>
    <div class="home-page-item">
        <img src="<%= saved_song.track.album.images[0].url %>" alt="Saved Song Image">
        <p><%= saved_song.track.name %></p>
        <p><%= saved_song.track.artists.name %></p>
        <form action="/playProfile" method="post">
            <input type="hidden" name="currentlyPlayingId" value="<%= saved_song.track.id %>">
            <input type="hidden" name="song_uri" value="<%= saved_song.track.uri %>">
            <button class="home-page-item-button" type="submit">
                <div>
                  <% if (is_playing && currently_playing_id === saved_song.track.id) { %>
                    <i class="fa-solid fa-pause"></i>
                  <% } else { %>
                    <i class="fa-solid fa-play"></i>
                  <% } %>
                </div>
              </button>
        </form>
    </div>
<% }); %>
</div>
</section>

<section class="just-space">

</section>


<%- include("partials/footer", { is_playing: is_playing }) %>
